@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,900&subset=cyrillic,cyrillic-ext');
/* Colors */
@light-color: rgb(255, 255, 255);
@text-black: rgb(28, 30, 35);
@text-dark: rgb(52, 62, 91);
@text-light: rgb(161, 168, 190);
@text-lightsome: rgb(185, 192, 211);
@border-color: rgb(227, 232, 240);
@check-in-color: rgb(0, 226, 170);
@link-btn-color: rgb(39, 84, 235);
@toggle-in-color: rgb(0, 222, 234);
@bg-items-color: rgb(240, 242, 247);
@bg-shop-color: rgb(228, 229, 231);

/* Basic settings */
html {
  font-size: 10px;
}

/* Typography */
.main-text {
  font-family: 'Crimson Text', serif;
  font-size: 14px;
}

.sub-text {
  font-family: 'Montserrat', sans-serif;
}

.input-text {
  height: 2rem;
  text-align: center;
  background-color: @bg-items-color;
  border: 1px solid @border-color;
  border-radius: 1rem;
}

.button {
  height: 3rem;
  text-align: center;
  background-color: @bg-items-color;
  border: 1px solid @border-color;
  border-radius: 1.5rem;
}

/* Header */
.header {
  margin-top: 1rem;
  border: 1px solid @border-color;
  &-nav-link {
    padding: 2rem;
    border-right: 1px solid @border-color;
  }
  &-cart {
    padding-right: 5px;
  }
  &-cart > .input-text {
    width: 2rem;
  }
  &-signIn {
    margin: 0rem 1rem;
    & > .button {
      width: 5rem;
    }
  }
}