@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Montserrat:400,600,900&subset=cyrillic,cyrillic-ext');
/* Colors */
@light-color: rgb(255, 255, 255);
@text-black: rgb(28, 30, 35);
@text-dark: rgb(52, 62, 91);
@text-light: rgb(161, 168, 190);
@text-lightsome: rgb(185, 192, 211);
@border-color: rgb(227, 232, 240);
@check-in-color: rgb(0, 226, 170);
@link-btn-color: rgb(39, 84, 235);
@toggle-in-color: rgb(0, 222, 234);
@bg-items-color: rgb(240, 242, 247);
@bg-shop-color: rgb(228, 229, 231);

/* Basic settings */
html {
  font-size: 10px;
}

/* Typography */
.main-text {
  font-family: 'Montserrat', sans-serif;
  color: @text-dark;
  font-weight: 600;
  font-size: 11px;
}

.sub-text {
  font-family: 'Crimson Text', serif;
}

.container {
  height: 100%;
  > .row {
    height: 100%;
    align-items: stretch;
  }
}

.h-flexblock {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.v-flexblock {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input-text {
  height: 2rem;
  text-align: center;
  background-color: @bg-items-color;
  border: 1px solid @border-color;
  border-radius: 1rem;
}

.button {
  height: 3rem;
  text-align: center;
  background-color: @bg-items-color;
  border: 1px solid @border-color;
  border-radius: 15px;
}

img {
  min-width: 2rem;
  height: auto;
}

nav {
  height: 100%;
  display: flex;
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: center;
  }
}

/* Header */
.header {
  border: 1px solid @border-color;
  border-radius: 4px;
  /* header-menu: */
  &-menu {
    height: 9rem;
    border-bottom: 1px solid @border-color;
  }
  /* header-nav-link: */
  &-nav-link {
    padding: 0rem 2rem;
    border-right: 1px solid @border-color;
  }
  /* header-nav-menu: */
  &-nav-menu > ul > li {
    padding: 0rem 1rem;
    & > a {
      text-decoration: none;
      font-size: 14px;
    }
  }
  /* header-cart: */
  &-cart {
    margin-left: -15px;
    &-text {
      padding: 0px 5px;
      text-transform: uppercase;
    }
  }
  /* header-sign-in: */
  &-sign-in .button {
    padding: 0px 15px;
    text-transform: uppercase;
  }
  &-sign-in picture.icon {
    margin-left: -15px;
  }
  
  /* header-submenu: */
  &-submenu {
    height: 5rem;
  }
  /* header-subnav-menu: */
  &-subnav-menu > ul > li, &-subnav-support > ul > li {
    padding: 0rem 1rem;
    & > a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  /* header-search: */
  &-search {
    padding: 0rem 1rem;
    border-right: 1px solid @border-color;
    border-left: 1px solid @border-color;
    & > .search-icon {
      margin: 0px 10px 3px 0px;
      & img {
        min-width: 1rem;
      }
    }
    .input-search > input {
      border: none;
      font-size: 14px;
      opacity: 0.6;
    }
  }
}